// html {
// 	height: 100%;
// 	body {
// 		height: 100%;
// 	}
// }
.task-status-init{
  border: 1px solid green;
}
  .task-status-started{
  border: 1px solid blue;
}
//.task-status-finished{
//  border: 1px solid green;
//}
.task-status-error{
  border: 1px solid red;
}